.movie-elem {
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 31.3%;
        margin: 1%;
        cursor: pointer;
        transition: transform .3s;
        height: 46%;
        color: black;
        text-decoration: none;
        min-height: 320px;
        background: rgba(255, 255, 255, .95);

        &:hover {
            transform: scale(1.05);
        }

        @media screen and (max-width: 400px) {
            width: 98%;
        }
    }

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    img {
        // max-height: 50%;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        margin: 5px;
        line-height: 16pt;
        font-size: 16pt;
        height: 24pt;
    }

    &-date {
        font-size: 10pt;
        opacity: .7;
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        background: darkgray;
        font-weight: 900;
    }
    
    &-text {
        padding: 2%;
    }

    &-creator {
        display: flex;
        position: relative;
        flex-direction: column;
        
        padding-left: 10px;
        margin: 0;

        div {
            position: relative;
            width: 100%;
            text-align: left;
        }

        .role {
            font-size: 12pt;
            font-weight: 600;
        }
        
        .names {
            font-size: 10pt;
            font-weight: 100;
            padding-left: 3%;
        }
    }
}