.form {
    &-result {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: default;
        transition: .4s;
        font-size: 15pt;
        font-weight: 900;
        white-space: break-spaces;

        &.null {
            opacity: 0;
            pointer-events: none;
        }

        &.success {
            opacity: 1;
            background: rgba(255, 255, 255, .5);
        }

        &.error {
            opacity: 1;
            background: rgba(255, 200, 200, .8);
        }
    }
    
    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
        h2 {
            text-align: left;
            margin: 0;
            padding: 0 0 0 15px;
        }

        form {
            display: flex;
            position: relative;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 1% 3% 3% 3%;

            input, textarea, button, label {
                position: relative;
                width: 100%
            }
            
            label {
                text-align: left;
            }

            textarea {
                resize: none;
            }

            button {
                margin-top: 5px;
                min-height: 30px;
                cursor: pointer;
            }
        }
    }
}