.preloader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90px;
    min-width: 90px;
    height: 100%;

    img {
        width: 90px;
        height: 90px;
        transform-origin: 45px 54px 0;
        animation: rotate 2s infinite;
    }
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}