.App {
  position: relative;
  display: flex;
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}