.movie {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
    // border: 1px solid black;
    min-height: 90%;
    background: rgba(255,255,255,.95);
    -webkit-box-shadow: 0px 0px 16px 9px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 16px 9px rgba(194,194,194,1);
    box-shadow: 0px 0px 16px 9px rgba(194,194,194,1);

    &-btn {

        &-back {
            z-index: 1000;
            position: absolute;
            top: 8px;
            left: 15px;
            text-decoration: none;
            font-size: 25pt;
            font-weight: 600;
            color: black;
            text-align: center;
            transition: .3s;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(255,255,255,.6);

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & > img {
        position: relative;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .release-date {
        opacity: .7;
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        background: darkgray;
        font-weight: 900;
    }

    p {
        margin: 25px;
    }

    .movie-creators {
        display: flex;
        flex-direction: column;
        padding: 5px 15px;

        & > div {
            display: flex;
            flex-direction: row;

            .role {
                font-weight: 600;
            }
            .names {
    
            }
        }
    }

}