.content-block {
    position: relative;
    overflow-y: hidden;

    &-name {
        position: relative;
        text-transform: uppercase;
        text-align: left;
        padding-left: 5%;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 0;
    }

    &-list {
        display: flex;
        overflow-x: scroll;
        cursor: default;
        min-height: 200px;
        margin: 20px 0 10px 0; 
        
        .element {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 25%;
            overflow-x: hidden;
            pointer-events: none;
            border: 1px solid black;
            margin: 15px;

            .prop {
                &-img {
                    width: 100%;
                    object-fit: cover;
                }
                &-name {
                    text-transform: capitalize;
                    font-weight: 600;
                }
                &-value {
                    
                }
            }

            ul {
                list-style: none;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 10px 10px 0 10px;
                margin: 0;
    
                li {
                    text-align: left;
                    padding: 0;
                    margin: 0;
                }
            }
            
            @media screen and (max-width: 400px) {
                min-width: 220px;
            }
        }

        //FIX of right margin in flex
        &:after {
            content: " ";
            flex: 0 0 5px;
        }

        //SCROLL STYLING
        &::-webkit-scrollbar {
            width: 12px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(150,150,150,.8); 
        }

    }
    &:not(.element)::before {
        position: absolute;
        z-index: 99999;
        left: 0;
        content: " ";
        pointer-events: none;
        height: 100%;
        width: 3em;
        background: -moz-linear-gradient(top, rgba(240, 240, 240, 0.8) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            left,
            rgba(240, 240, 240, 0.8) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to right,
            rgba(240, 240, 240, 0.8) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    }
    &:not(.element)::after {
        position: absolute;
        z-index: 99999;
        right: 0;
        content: " ";
        pointer-events: none;
        height: 100%;
        width: 3em;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(240, 240, 240, 0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(240, 240, 240, 0.8) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(240, 240, 240, 0.8) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
}